/* header */
header {
	padding-top: 15px;
	padding-bottom: 15px;
}

.logo {
	background: url(../img/logo_orange.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
}
.textOrange {
	color: #ffc178;
}
/* background navbar et innovation */

.bgOrange {
	background: rgb(255, 249, 243);
}
/* div innovation for */
.bgInnov {
	height: 450px;
	background-image: url(../img/innov_personnage.png);
	background-size: cover;
}
.innov {
	position: relative;
	padding-top: 100px;
}
.bgFrise {
	width: 100%;
	height: 180px;
	background-image: url(../img/Layer\ 555.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.plantGreenG {
	position: relative;
	top: -120px;
	left: -50px;
}
.plantGreenD {
	position: relative;
	top: -120px;
	left: 20px;
}
/* our departement */
.ourDepartement {
	width: 50%;
	text-align: center;
}
/* 3 carre */
.bgbrique {
	/* background: #f9703a; */
	background-image: url(../img/educ_brique.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 180px;
	height: 180px;
}
.bggreen {
	/* background: #f9703a; */
	background-image: url(../img/educ_green.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 180px;
	height: 180px;
}
.bgorange {
	/* background: #f9703a; */
	background-image: url(../img/educ_orange.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 180px;
	height: 180px;
}
